<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Fares Labratorium</title>
  <!-- Link your CSS here, for example: -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <h1>Välkommen till Fares Labratorium!</h1>
  <button onClick="location.href='/naturkunskap'">Naturkunskap</button>

  <!-- Your scripts if any -->
  <script src="/javascripts/main.js"></script>
</body>
</html>