<!DOCTYPE html>
<html lang="en">
    <%- include('components/head', { title: 'Fares Labratorium' }) %>
    <body>
  <%- include('components/header') %>
    <div class="Intro">
      <h2 class="Intro__h2">Välkommen till Fares Labratorium!</h2>
      <p class="Intro__p">
        Här kan du utforska lektionsmaterial, experiment och vetenskapens under.
      </p>
    </div>

    <div class="Subjects">
      <h2 class="Subjects__h2"></h2>
      <button
        class="Subjects__naturkunskap"
        onClick="location.href='/naturkunskap'"
      >
        Naturkunskap
      </button>
      <button class="Subjects__biologi" onClick="location.href='/biologi'">
        Biologi
      </button>
      <button class="Subjects__kemi" onClick="location.href='/kemi'">
        Kemi
      </button>
      <button class="Subjects__natur.spec" onClick="location.href='/naturvetenskapligspecialisering'">
        Naturvetenskaplig Specialisering
      </button>
    </div>

<div class="About">
    <h3 class="about__h3">Om mig</h3>
    <p class="about__p">Lorem ipsum text</p>
</div>

    <%- include('components/footer') %>
    <script src="/javascripts/main.js"></script>
    <script>
  lucide.createIcons();
</script>
  </body>
</html>
