<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title }) %>
<body>
    <%- include('components/header') %>


<div class="Kemi">
      <h2 class="Kemi__h2">Kurser i Kemi</h2>

      <button class="Subjects__kemi" onClick="location.href='/kemi1'">
        Kemi 1
        <i class="Subjects__kemiIcon" data-lucide="flask-conical"></i>
      </button>

      <button class="Subjects__kemi" onClick="location.href='/kemi2'">
        Kemi 2
        <i class="Subjects__kemiIcon" data-lucide="flask-conical"></i>
      </button>

      <button class="Back" onClick="location.href='/'">Tillbaka</button>
    </div>


  <%- include('components/footer') %>
  <script src="/javascripts/main.js"></script>
  <script>
lucide.createIcons();
</script>
</body>
</html>