<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title: 'Fares Labratorium' }) %>
  <body>
    <%- include('components/header') %>

    <div class="kemi1__div">
        <h2 class="kemi1__h2">Kemi</h2>
      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Kemiska Bindningar</h2>
        <i data-lucide="atom" class="lesson-card__icon"></i>

        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/1. Atommodell.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Atommodell
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/2. Periodiska Systemet.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 2. Periodiska Systemet
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/3. Kemiska Bindningar.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 3. Kemiska Bindningar
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/4. Intermolekylära Bindningar.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 4. Intermolekylära Bindningar 
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/periodic-table.pdf"
                  download
                >
                  <i data-lucide="file-spreadsheet"></i> Periodiska Systemet
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Bindningar/Atommodell och Periodiska Systemet Övningar.docx"
                  download
                >
                  <i data-lucide="notebook-pen"></i> Atommodell och Periodiska Systemet Övningar
                </a>
              </li>
            </ul>
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Kemiska Beräkningar</h2>
        <i data-lucide="calculator" class="lesson-card__icon"></i>
        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/1. Enheter.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Enheter
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/2. Stökiometri .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 2. Stökiometri
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/3. Begränsade Reaktanter och Utbyte .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 3. Begränsade Reaktanter och Utbyte
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/4. Koncentration .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 4. Koncentration  
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/Masshalt Övningar.pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Masshalt Övningar
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/Plugga- Kemiska Beräkningar.pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Plugga- Kemiska Beräkningar
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Kemiska Beräkningar/Stökiometri Övningar.pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Stökiometri Övningar
                </a>
              </li>
            </ul>
        
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Syror och Baser</h2>
        <i data-lucide="droplet" class="lesson-card__icon"></i>
        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Syror och baser/1. Syror och Baser .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Syror och Baser
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Syror och baser/2. pH skalan och Neutralisation.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 2. pH skalan och Neutralisation
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Syror och baser/3. Buffert.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 3. Buffert
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Syror och baser/Syra och Bas Övningar .pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Syra och Bas Övningar
                </a>
              </li>
              </ul>
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Vetenskapligt Arbetssätt</h2>
        <i data-lucide="microscope" class="lesson-card__icon"></i>
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Termokemi</h2>
        <i data-lucide="flame" class="lesson-card__icon"></i>
        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Termokemi/1. Entalpi och värmekapacitet.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Entapli och värmekapacitet
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Termokemi/2. Typer av Entalpi och Hess Lag .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 2. Typer av Entalpi och Hess Lag
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Termokemi/3. Entropi .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 3. Entropi
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Termokemi/Hess Law Problems (with ans).pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Hess Law Problems (with ans)
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Termokemi/Termokemi Övningar .pdf"
                  download
                >
                  <i data-lucide="file-cog"></i> Termokemi Övningar
                </a>
              </li>
              </ul>
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Gaser</h2>
        <i data-lucide="wind" class="lesson-card__icon"></i>
        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Gaser/1. Gas lagar .pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Gas lagar
                </a>
              </li>
              </ul>
      </div>

      <div class="lesson-card--kemi">
        <h2 class="lesson-card__title">Elektrokemi</h2>
        <i data-lucide="zap" class="lesson-card__icon"></i>
        <ul class="kemi__lesson-card__file-list">
            <li>
                <a
                  href="/lessons/kemi1/Elektrokemi/1. Redox Reaktioner.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 1. Redox Reaktioner
                </a>
              </li>
              <li>
                <a
                  href="/lessons/kemi1/Elektrokemi/2. Elektrolys och Korrosion.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 2. Elektrolys och Korrosion
                </a>
              </li>
              </ul>
      </div>

      <button class="Back" onClick="location.href='/'">Tillbaka</button>
    </div>

    <%- include('components/footer') %>
    <script src="/javascripts/main.js"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
