<!DOCTYPE html>
<html lang="en">
    <%- include('components/head', { title: 'Fares Labratorium' }) %>
<body>
    <%- include('components/header') %>
  <h1>Naturvetenskaplig Specialisering!</h1>
  <p>Kurserna i Naturvetenskaplig Specialisering</p>
  <a href="/">Tillbaka</a>
  <%- include('components/footer') %>
  <script src="/javascripts/main.js"></script>
  <script>
lucide.createIcons();
</script>
</body>
</html>