<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Naturvetenskaplig Specialisering</title>
</head>
<body>
  <h1>Naturvetenskaplig Specialisering!</h1>
  <p>Kurserna i Naturvetenskaplig Specialisering</p>
  <a href="/">Tillbaka</a>
</body>
</html>