<!DOCTYPE html>
<html lang="en">
  <%- include('components/head', { title }) %>
  <body>
    <%- include('components/header') %>

    <div class="naturkunskap1b__div">
      <h2 class="naturkunskap1b__h2">Naturkunskap</h2>
      <div class="lesson-card">
        <h2 class="lesson-card__title">Ekologi</h2>
        <i data-lucide="leaf" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
          <li>
            <a
              href="/lessons/naturkunskap1b/Ekologi/1. Population.pptx"
              download
            >
              <i data-lucide="file-text"></i> 1. Population
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Ekologi/2. Energiflödet.pptx"
              download
            >
              <i data-lucide="file-text"></i> 2. Energiflödet
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Ekologi/3. Ekosystemtjänster.pptx"
              download
            >
              <i data-lucide="file-text"></i> 3. Ekosystemtjänster
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Ekologi/Ekologi Instuderingsfrågor.docx"
              download
            >
              <i data-lucide="file-cog"></i> Instuderingsfrågor
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Ekologi/Ekosystem%20Labb.docx"
              download
            >
              <i data-lucide="test-tube-diagonal"></i> Labb
            </a>
          </li>
        </ul>
      </div>

      <div class="lesson-card">
        <h2 class="lesson-card__title">Hållbar Utveckling & Energi</h2>
        <i data-lucide="sun" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
          <li>
            <a
              href="/lessons/naturkunskap1b/Hållbar utveckling/1. Typer av Energi .pptx"
              download
            >
              <i data-lucide="file-text"></i> 1. Typer av Energi
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Hållbar utveckling/2. Förnybara och icke-förnybara energikällor.pptx"
              download
            >
              <i data-lucide="file-text"></i> 2. Förnybara och icke-förnybara
              energikällor
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Hållbar utveckling/3. Industri.pptx"
              download
            >
              <i data-lucide="file-text"></i> 3. Industri
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Hållbar utveckling/Hållbar Utveckling Instuderingsfrågor.docx"
              download
            >
              <i data-lucide="file-cog"></i> Instuderingsfrågor
            </a>
          </li>
        </ul>
      </div>

      <div class="lesson-card">
        <h2 class="lesson-card__title">Hälsa och Livsstil</h2>
        <i data-lucide="heart-pulse" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
            <li>
              <a
                href="/lessons/naturkunskap1b/Hälsa och livsstil/1. Kost .pptx"
                download
              >
                <i data-lucide="file-text"></i> 1. Kost
              </a>
            </li>
            <li>
              <a
                href="/lessons/naturkunskap1b/Hälsa och livsstil/2. Sömn.pptx"
                download
              >
                <i data-lucide="file-text"></i> 2. Sömn
              </a>
            </li>
            <li>
              <a
                href="/lessons/naturkunskap1b/Hälsa och livsstil/3. Träning.pptx"
                download
              >
                <i data-lucide="file-text"></i> 3. Träning
              </a>
            </li>
            <li>
                <a
                  href="/lessons/naturkunskap1b/Hälsa och livsstil/4. Beroende.pptx"
                  download
                >
                  <i data-lucide="file-text"></i> 4. Beroende
                </a>
              </li>
            <li>
              <a
                href="/lessons/naturkunskap1b/Hälsa och livsstil/Hälsa Instuderingsfrågor.docx"
                download
              >
                <i data-lucide="file-cog"></i> Instuderingsfrågor
              </a>
            </li>
            <li>
                <a
                  href="/lessons/naturkunskap1b/Hälsa och livsstil/You Are What You Eat.docx"
                  download
                >
                  <i data-lucide="notebook-pen"></i> You Are What You Eat
                </a>
              </li>
          </ul>
      </div>

      <div class="lesson-card">
        <h2 class="lesson-card__title">Normer, Relationer & Sex</h2>
        <i data-lucide="users" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
          <li>
            <a
              href="/lessons/naturkunskap1b/Sex och samlevnad/1. Relationer.pptx"
              download
            >
              <i data-lucide="file-text"></i> 1. Relationer
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Sex och samlevnad/2. Normer.pptx"
              download
            >
              <i data-lucide="file-text"></i> 2. Normer
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Sex och samlevnad/3. Samtycke och Safe(r) Sex.pptx"
              download
            >
              <i data-lucide="file-text"></i> 3. Samtycke och Safe(r) Sex
            </a>
          </li>
        </ul>
      </div>

      <div class="lesson-card">
        <h2 class="lesson-card__title">Genetik</h2>
        <i data-lucide="dna" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
          <li>
            <a href="/lessons/naturkunskap1b/Genetik/1. Celler .pptx" download>
              <i data-lucide="file-text"></i> 1. Celler
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Genetik/2. Centrala Dogmen .pptx"
              download
            >
              <i data-lucide="file-text"></i> 2. Centrala Dogmen
            </a>
          </li>
          <li>
            <a
              href="/lessons/naturkunskap1b/Genetik/3. Gener och Korsningsschema.pptx"
              download
            >
              <i data-lucide="file-text"></i> 3. Gener och Korsningsschema
            </a>
          </li>
        </ul>
      </div>

      <div class="lesson-card">
        <h2 class="lesson-card__title">Genteknik</h2>
        <i data-lucide="test-tube" class="lesson-card__icon"></i>
        <ul class="naturkunskap__lesson-card__file-list">
          <li>
            <a
              href="/lessons/naturkunskap1b/Genetik/4. Genteknik .pptx"
              download
            >
              <i data-lucide="file-text"></i> 1. Genteknik
            </a>
          </li>
        </ul>
      </div>

      <button class="Back" onClick="location.href='/'">Tillbaka</button>
    </div>

    <%- include('components/footer') %>
    <script src="/javascripts/main.js"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
