<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Naturkunskap</title>
</head>
<body>
  <h1>Naturkunskap!</h1>
  <p>Kurserna i naturkunskap</p>
  <a href="/">Tillbaka</a>
</body>
</html>