<header>
    <div class ="header__div">
    <h1 class="header__h1">Fares Labratorium</h1>
    <a href="/" class="header__icon-link" aria-label="Go to homepage">
        <i class="header__icon" data-lucide="home"></i>
      </a>
</div>
</header>