<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= title %></title>
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:site_name" content="Makkis vetenskapsrum" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://makkis-vetenskapsrum.onrender.com/" />
  <meta property="og:image" content="/images/Preview.png" />
  <meta property="og:description" content="Lär dig mer om världen runt dig!" />

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
