@import "tailwindcss";

* {
    font-family: 'poppins', sans-serif; 
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
}
/*
@keyframes floatSpin {
  0% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translateY(-20px) rotate(180deg) scale(1.15);
  }
  100% {
    transform: translateY(0px) rotate(360deg) scale(1);
  }
}

.animate-floatSpin {
  animation: floatSpin 10s ease-in-out infinite;
} */ 